src/main/webapp/config/sampxsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="playmanifest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="channels">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="channel">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="systemId" type="xsd:string" />
                  </xsd:sequence>
                  <xsd:attribute name="id" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>